@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Sedgwick+Ave&display=swap');

body {
  margin: 0;           
  padding: 0;
  
  background-color: #f4f1ea !important; 
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.graffiti-testua {
  font-family: 'Kaushan Script', cursive;
  color: #ffc107; 
  font-size: 1.8em; 
  text-shadow: 
    2px 2px 0px #000,
    4px 4px 5px rgba(0,0,0,0.3);
  transform: rotate(-5deg); 
  display: inline-block; 
  margin-right: 5px;
}